@font-face {
    font-family: 'pokemon';
    src: url('../imgs/pokemon_font.ttf') format('truetype');
}

.esquina {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 10; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url('../imgs/fondo_pvp.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'pokemon', sans-serif;
    color: white;
}


form{
    font-family: 'pokemon', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

select{
    font-family: 'pokemon', sans-serif;
    padding: 10px;
    margin: 10px;
}

option{
    font-family: 'pokemon', sans-serif;
}



.botones{
    background-color: #5b1fca;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'pokemon', sans-serif;

}

form input[type="submit"]:hover {
    background-color: black;
}

button:hover{
    background-color: black;
}

.botones_estilos{
    margin-top: 50px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
    

/*---Estilos para la revision de equipos---*/


.equipos{

    font-family: 'pokemon', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

img{
    height: 150px;
    width: 150px;
}

.equipo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:10px;
}

.titulo{
    margin-top: 150px;
    text-align: center;
    
}

.contenedor_pokemon p{
    text-align: center;
}

.formulario_enviar{
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 100px;

}
